MONGODB_URI="your mongodb connection uri"
ESLINT_NO_DEV_ERRORS="true"
JWT_ACCESS_SECRET=your_random_secret_here
JWT_REFRESH_SECRET=different_random_secret_here
ADMIN_EMAIL=a<enter admin email>
ADMIN_PASSWORD=change_this_after_first_login
ADMIN_USERNAME=Mintd Admin
WATCHBASE_API_KEY=your_watchbase_api_key_here
WATCHBASE_API_URL=https://api.watchbase.com/v1
MAILGUN_API_KEY=your_mailgun_api_key_here
MAILGUN_BASE_URL=https://api.mailgun.net